body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body>div>h2 {
    margin-left: 45%;
}


.product-card img {
    width: 100%;
    /* Set the width to 100% of its parent container */
    max-width: 300px;
    /* You can adjust this value to suit your layout */
    height: auto;
    /* This maintains the aspect ratio of the image */
    display: block;
    /* Ensures it takes up the full width as set */
    margin: 0 auto;
    /* Center the image horizontally if the parent is wider */
}

.product-card {
    border: 1px solid #ddd;
    /* Add a border around each card */
    margin: 10px auto;
    /* Add some margin to separate the cards */
    padding: 10px;
    /* Padding inside the card for some breathing room */
    background-color: #fff;
    /* Set a background color to differentiate cards */
    width: 90%;
    /* Control the width of the cards */
    max-width: 600px;
    /* Maximum width for larger screens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for 3D effect */
    text-align: center;
    /* Center-align the text inside the card */
}



#profilepic {
    border-radius: 50px;
    width: 80px;
    height: auto;
    display: block;
    margin: 10px auto;
}

#logodesign {
    border-radius: 10px;
    width: 120px;
    height: auto;
    display: block;
    margin: 10px auto;
}


nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: #555;
}

.login-container,
.filter,
#feed,
#customFeedContent,
#preferencesForm {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}